*{
    padding: 0px;
    margin: 0px;
}
.header {
    background-color: #aaaaaa;
    padding: 10px;
}
.content {
    background-color: #c5c5c5;
    padding: 5px;
    margin-top: 5px;
}
@media only screen and (max-width: 480px){
    .container{
        width: 100%;
    }
}
@media only screen and (max-width: 1023px){
    .container{
        margin: 0px auto;
        width: 75%
    }
}
@media only screen and (min-width: 1024px){
    .container{
        width: 100%;
    }
}